examples/Simple_Workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "loginURL": "http://localhost:8080/login",
        "afterLoginURL": "http://localhost:8080/protected",
        "logoutURL": "http://localhost:8080/login",
        "enableHTTP": true
      },
      "type": "CUSTOM.httpForwardAuthTrigger",
      "typeVersion": 1,
      "position": [
        -360,
        20
      ],
      "id": "de7c6620-31c8-4701-b870-dc6825487f35",
      "name": "HTTP Forward Auth Trigger",
      "webhookId": "aa1e42ef-7492-4235-9f22-e3c007358d15"
    },
    {
      "parameters": {
        "userID": "={{ $json.user }}",
        "validationErrorMessage": "Incorrect user or password"
      },
      "type": "CUSTOM.httpForwardAuth",
      "typeVersion": 1,
      "position": [
        920,
        20
      ],
      "id": "3368c9bf-3dab-4bd8-9d7f-d5f1abe7610e",
      "name": "HTTP Forward Auth"
    },
    {
      "parameters": {
        "jsCode": "const db = {\n  \"test1@example.com\": \"g9QaXzlc34l4dEw1c6HOHcBrVP6SFswS|BIVTqZnqdUbrS8JiuugWKl1Ch0NaADWaFcIiDpc4Tac=\",\n  \"test2@example.com\": \"eSOLsrieYnZ96jNCXfalGF15sJxdluc2|cXFQ/PT1VNb/CRM6SA/d+ADQlS1hwDgtg/tuWipDbbo=\",\n  \"test3@example.com\": \"kos8kWXOH7Nr7v72q3kXUzxUwxmKx2uo|Rj3A2BLRCtpKFVjxb6IxuSgLIigbt3wlKazsFGmO5ic=\"\n};\n\nconst userRaw = db[$input.first().json.user];\n\nif(userRaw) {\n  const [salt, hash] = userRaw.split(\"|\");\n  return { salt, hash }\n}\n\nreturn { salt: \"\", hash: \"\" }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -60,
        20
      ],
      "id": "87fa2215-c45c-4950-ae1a-97216eb30e9f",
      "name": "Get Data From DB"
    },
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ $('HTTP Forward Auth Trigger').item.json.password }}{{ $json.salt }}",
        "dataPropertyName": "passwordHashed",
        "encoding": "base64"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        280,
        20
      ],
      "id": "4ac9ba87-0753-4ad9-af56-acbfdb8ecabf",
      "name": "Hash Password"
    },
    {
      "parameters": {
        "jsCode": "if($input.first().json.passwordHashed === $input.first().json.hash){\n  return { user: $('HTTP Forward Auth Trigger').first().json.user }\n}\nreturn { user: \"\" }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        20
      ],
      "id": "c3c058a6-eb0d-418e-81f2-9cf142360e34",
      "name": "Verify Password"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Forward Auth Trigger": {
      "main": [
        [
          {
            "node": "Get Data From DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data From DB": {
      "main": [
        [
          {
            "node": "Hash Password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hash Password": {
      "main": [
        [
          {
            "node": "Verify Password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Password": {
      "main": [
        [
          {
            "node": "HTTP Forward Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "none",
    "saveDataSuccessExecution": "none",
    "saveExecutionProgress": false,
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "9b417754-d9d0-4377-8863-e604f59f97f1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "505a91c807f383cfa51524b51406539ed2a13b65faca94769375174ae416a1e6"
  },
  "id": "4hi91Jg1ssmzLJwF",
  "tags": []
}
