examples/Simple_Workflow.json
{
  "name": "Simple Workflow",
  "nodes": [
    {
      "parameters": {
        "authURL": "http://localhost:8080/_auth",
        "loginRedirectURL": "http://localhost:8080",
        "logoutRedirectURL": "http://localhost:8080/signed-out",
        "enableHTTP": true
      },
      "type": "CUSTOM.httpForwardAuthTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "69c907ff-c556-458f-89e4-cd68c6d2bfa8",
      "name": "HTTP Forward Auth Trigger",
      "webhookId": "aa1e42ef-7492-4235-9f22-e3c007358d15"
    },
    {
      "parameters": {
        "userID": "={{ $json.user }}",
        "validationErrorMessage": "Incorrect user or password"
      },
      "type": "CUSTOM.httpForwardAuth",
      "typeVersion": 1,
      "position": [
        1280,
        0
      ],
      "id": "5c5bd1f9-68ca-45cc-9c3d-169bd5fed21b",
      "name": "HTTP Forward Auth"
    },
    {
      "parameters": {
        "jsCode": "const db = {\n  \"admin@example.com\": \"g9QaXzlc34l4dEw1c6HOHcBrVP6SFswS|Q5LA5FkQb1HpuRz0ppjnQPm13kpyjy7PdgRKIb+VRPI=\" \n};\n\nconst userRaw = db[$input.first().json.user];\n\nif(userRaw) {\n  const [salt, hash] = userRaw.split(\"|\");\n  return { salt, hash }\n}\n\nreturn { salt: \"\", hash: \"\" }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        0
      ],
      "id": "1dfbe11d-385d-4eea-9a0f-ebe3425fa6c3",
      "name": "Get Data From DB"
    },
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ $('HTTP Forward Auth Trigger').item.json.password }}{{ $json.salt }}",
        "dataPropertyName": "passwordHashed",
        "encoding": "base64"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        640,
        0
      ],
      "id": "ba283396-0f28-43d7-b460-df3291d5d867",
      "name": "Hash Password"
    },
    {
      "parameters": {
        "jsCode": "if($input.first().json.passwordHashed === $input.first().json.hash){\n  return { user: $('HTTP Forward Auth Trigger').first().json.user }\n}\nreturn { user: \"\" }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        0
      ],
      "id": "6810f87d-f5b4-40ec-872e-9108167f2dcd",
      "name": "Verify Password"
    },
    {
      "parameters": {
        "content": "## Access Info\nuser: admin@example.com\npassword: password"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        -180
      ],
      "typeVersion": 1,
      "id": "ad36117b-104b-4f40-9240-c83f909a8085",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Forward Auth Trigger": {
      "main": [
        [
          {
            "node": "Get Data From DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data From DB": {
      "main": [
        [
          {
            "node": "Hash Password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hash Password": {
      "main": [
        [
          {
            "node": "Verify Password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Password": {
      "main": [
        [
          {
            "node": "HTTP Forward Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "86c9094b-196d-49e0-be04-60f19353569a",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "DRLuFvbB6tyPxGpi",
  "tags": []
}
